header {
    border-bottom: 2px solid var(--color-grey-4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 80px;
    box-sizing: border-box;
}

.container__nav {
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    top: 80px;
    right: 0px;
    z-index: 1000;
    height: 0px;
    animation: showMenu 2s;
    transition: 0.6s;
    visibility: hidden;
    overflow-y: hidden;
}

.container__nav.active {
    height: calc(100vh - 80px);
    display: block;
    visibility: visible;
}

.container__nav ul {
    margin-bottom: 27px;
    border-bottom: 2px solid var(--color-grey-4);
}

.container__nav ul  li{
    padding: 16px;
    height: 59px;
    box-sizing: border-box;
}

.container__nav ul li a {
    color: var(--color-grey-2);
}

.container__nav ul li:hover {
    background-color: var(--color-grey-6)
}

.container__nav ul li:hover a {
    color: var(--color-grey-1);
    font-weight: 500;
}

.container__perfil {
    display: flex;
    padding: 19px 16px;
    box-sizing: border-box;
    gap: 20px;
    flex-direction: column;
}

.infoPerfil {
    display: flex;
    align-items: center;
    gap: 20px;
}

.container__img {
    width: 38px;
    height: 38px;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid var(--color-brand-1);
}

@media (min-width: 1024px) {
    header {
        padding: 10px 100px;

    }

    .container__nav {
        visibility: visible;
        overflow-y: visible;
        position: unset;
        display: flex;
        height: unset;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        gap: 34px;
        
    }

    .container__nav ul {
        display: flex;
        margin-bottom: 0px;
        margin-left: 30px;
        border: none;
        align-items: center;
        justify-content: center;
    }

    .container__nav ul li {
        height: 44px;
    }

    .container__perfil {
        padding: 0;
        flex-direction: row;
        justify-content: center;
    }

    .container__nav ul li:hover {
        background-color: unset;
    }

}

@keyframes showMenu {
    0% {
        height: 0px;
    }
    
    100% {
        height: calc(100vh - 80px);
    }
}

